<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tarang"
        tools:targetApi="31">
        <activity
            android:name=".removefear"
            android:exported="false" />
        <activity
            android:name=".feargame"
            android:exported="false" />
        <activity
            android:name=".sadgame"
            android:exported="false" />
        <activity
            android:name=".sad"
            android:exported="false" />
        <activity
            android:name=".Fear"
            android:exported="false" />
        <activity
            android:name=".Sad"
            android:exported="false" />
        <activity
            android:name=".angerboostup"
            android:exported="false" />
        <activity
            android:name=".AngerGame"
            android:exported="false" />
        <activity
            android:name=".anger"
            android:exported="false" />
        <activity
            android:name=".happy"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>